button {
  margin: 5px;
  width: 160px;
  height: 70px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  background-color: rgb(30, 30, 89);
  border: black 5px solid
}

p {
  font-weight: 400;
}

.App {
  text-align: center;
  overflow: scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stuffs {
  width: 750px;
  padding: 50px;
  background-color: darkslategray;
}

.divider {
  width: 600px;
  height: 20px;
  margin-left: 70px;
  margin-right: 50px;
  background-color: #282c34;
}